@import "tailwindcss";

.slick-prev:before {
    display: none;
}
.slick-next:before {
    display: none;
}





:root{
    --heading-1 : 56px;
    --heading-2 : 36px;
    --heading-3 : 24px;
    --heading-4 : 20px;
    --heading-6 : 16px;
    --heading-8 : 14px;
    --para : 20px;
    --black : #303030;
    --lightGray : #F4F4F4;
    --orange : #FF624C;
    --yellow : #FED550;
    --orange10 : #FFEFED;
}